{% extends 'base.html' %}
{% load staticfiles %}
{% load billing_extras %}

{% block title %} / Checkout{% endblock title %}

{% block stylesheets %}
  <link rel='stylesheet prefetch' href='//fonts.googleapis.com/css?family=Montserrat'>
  <link rel='stylesheet prefetch' href='//fonts.googleapis.com/css?family=Roboto+Mono'>
  <link rel='stylesheet' href="{% static 'vendors/card/card.css' %}">
{% endblock stylesheets %}

{% block content %}
  <div class="text-center">
    <h1>
      Event fee
      <span>{{ event_price|divide:"100" }}</span>
      {% if request.is_secure %}<i class="fa fa-lock"></i>{% endif %}
    </h1>
    <section style="margin-bottom: 49px;">

      <form method="POST" action="#" enctype="application/x-www-form-urlencoded" role="form">
        {% csrf_token %}

        <!-- personal information -->
        <div class="form-container">
          <div class="form-header">
            <h2 class="form-title">Personal Information</h2>
          </div>
          <input id="input-field" type="email" name="email" required="required" autocomplete="on" maxlength="120" placeholder="Email*" />
          <input id="column-left" type="text" name="first_name" required="required" placeholder="First name*" />
          <input id="column-right" type="text" name="last_name" required="required" placeholder="Last name*" />
          <br><br><br>
        </div>
        <!-- /personal information -->

        <!-- credit card form -->
        <div id="cc-form" class="form-container">
          <div class="form-header">
            <h2 class="form-title">Payment Information</h2>
          </div>
          <input id="input-field" type="text" name="street_address" required="required" autocomplete="on" maxlength="50" placeholder="Street Address*" />
          <input id="column-left" type="text" name="city" required="required" autocomplete="on" maxlength="35" placeholder="City*" />
          <input id="column-right" type="text" name="zip_code" required="required" autocomplete="on" pattern="[0-9]*" maxlength="5" placeholder="ZIP code*" />
          <br><br><br>
          <div class="card-wrapper"></div>
          <input id="input-field" type="text" name="number" required="required" placeholder="Card Number*" />
          <input id="column-left" type="text" name="expiry" required="required" placeholder="MM / YY*" />
          <input id="column-right" type="text" name="cvc" required="required" placeholder="CVV*" />
        </div>
        <!-- /credit card form -->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button class="btn btn-block register-submit" type="submit" name="register_form">
            Register
          </button>
        </div>
      </form>

    </section>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'vendors/card/jquery.card.js' %}" type="text/javascript"></script>
{% endblock js %}

{% block scripts %}
    <script type="text/javascript">
        $('form').card({
            container: '.card-wrapper',
            formSelectors: {
                numberInput: 'input[name="number"]',
                expiryInput: 'input[name="expiry"]',
                cvcInput: 'input[name="cvc"]',
                nameInput: 'input[name="first_name"], input[name="last_name"]'
            },
            width: 280,
            formatting: true,
            messages: {
                validDate: 'valid\ndate',
                monthYear: 'mm/yy',
            },
            placeholders: {
                number: '•••• •••• •••• ••••',
                name: 'Full Name',
                expiry: '••/••',
                cvc: '•••'
            },
        });
        $('.register-submit').click(function(){
            $(this).attr('disabled', 'disabled').addClass('btn-disabled');
            $(this).parents('form:first').submit();
        });
    </script>
{% endblock scripts %}
