{% load staticfiles %}

<div class="module form-module">
    <div class="toggle">
        <i class="fa fa-times fa-pencil"></i>
        <div class="tooltip">Register</div>
    </div>
    <div class="form">
        <h2>Login to your account</h2>
        <form method="POST" action="{% url 'accounts:auth_login_register' %}">
            {% csrf_token %}
            <input type="email" placeholder="Email" name="email" required />
            <input type="password" placeholder="Password" name="password" required />
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" name="login_form">Login</button>
        </form>
    </div>
    <div class="form">
        <h2>Create an account</h2>
        <form method="POST" action="{% url 'accounts:auth_login_register' %}">
            {% csrf_token %}
            <input type="text" placeholder="Company name" name="company_name" required />
            <input type="email" placeholder="Email" name="email" required />
            <input type="password" placeholder="Password" name="password" required />
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" name="register_form">Register</button>
        </form>
    </div>
    <a href="#">
        <div class="cta">
            Forgot your password?
        </div>
    </a>
</div>
