{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{% endblock title %}

{% block content %}
    <h3>Events sponsored</h3>
    <!-- table -->
    <div id="demo">
        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover table-mc-orange">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="ID">1</td>
                        <td data-title="Name">Material Design Color Palette</td>
                        <td data-title="Link">
                            <a href="#">GitHub</a>
                        </td>
                        <td data-title="Status">Completed</td>
                    </tr>
                    <tr>
                        <td data-title="ID">2</td>
                        <td data-title="Name">Material Design Iconic Font</td>
                        <td data-title="Link">
                            <a href="#">GitHub</a>
                        </td>
                        <td data-title="Status">Completed</td>
                    </tr>
                    <tr>
                        <td data-title="ID">3</td>
                        <td data-title="Name">Material Design Hierarchical Display</td>
                        <td data-title="Link">
                            <a href="#">GitHub</a>
                        </td>
                        <td data-title="Status">Completed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /table -->
{% endblock content %}
