{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} / Settings{% endblock title %}

{% block content %}
    <form class="form-validation" method="POST" action="{% url 'accounts:account_settings' %}">
        {% csrf_token %}
        <div class="form-title-row">
            <h1>User Information</h1>
        </div>
        <div class="form-row {% if form.email.errors %}email-field{% endif %}">
            <label>
                <span>Email</span>
                <input type="email" name="email" value="{{ form.email.value }}" required />
            </label>
            <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
            <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
            <span class="form-invalid-data-info"></span>
        </div>
        <div class="form-row {% if form.first_name.errors %}first-name-field{% endif %}">
            <label>
                <span>First name</span>
                <input type="text" name="first_name" value="{{ form.first_name.value }}" />
            </label>
            <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
            <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
            <span class="form-invalid-data-info"></span>
        </div>
        <div class="form-row {% if form.last_name.errors %}last-name-field{% endif %}">
            <label>
                <span>Last name</span>
                <input type="text" name="last_name" value="{{ form.last_name.value }}" />
            </label>
            <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
            <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
            <span class="form-invalid-data-info"></span>
        </div>
        <div class="form-row {% if form.password_new_confirm.errors %}password-field{% endif %}">
            <label>
                <span>New password</span>
                <input type="password" name="password_new" placeholder="New password" />
            </label>
            <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
            <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
            <span class="form-invalid-data-info"></span>
        </div>
        <div class="form-row {% if form.password_new_confirm.errors %}password-field{% endif %}">
            <label>
                <span>Confirm password</span>
                <input type="password" name="password_new_confirm" placeholder="Confirm new password">
            </label>
            <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
            <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
            <span class="form-invalid-data-info"></span>
        </div>
        <div class="form-row">
            <button type="submit">Update</button>
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            var errorField = $('.first-name-field');
            errorField.addClass('form-invalid-data');
            errorField.find('.form-invalid-data-info').text('{% for error in form.first_name.errors %}{{ error }}{% endfor %}');

            var errorField = $('.last-name-field');
            errorField.addClass('form-invalid-data');
            errorField.find('.form-invalid-data-info').text('{% for error in form.last_name.errors %}{{ error }}{% endfor %}');

            var errorField = $('.email-field');
            errorField.addClass('form-invalid-data');
            errorField.find('.form-invalid-data-info').text('{% for error in form.email.errors %}{{ error }}{% endfor %}');

            var errorField = $('.password-field');
            errorField.addClass('form-invalid-data');
            errorField.find('.form-invalid-data-info').text('{% for error in form.password_new_confirm.errors %}{{ error }}{% endfor %}');

            // var successField = $('.form-input-email-row');
            // successField.addClass('form-valid-data');
        });
    </script>
{% endblock scripts %}
