<div class="module form-module">
  <div class="toggle"></div>
  <div class="form">
    <h2>Login to your account</h2>
    <form method="POST" action="{% url 'authentication:auth_login' %}">
      {% csrf_token %}
      <input type="email" placeholder="Email" name="email" required />
      <input type="password" placeholder="Password" name="password" required />
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" name="login_form">Login</button>
    </form>
    <div style="text-align:center; margin: 20px auto -20px">
      <a href="{% url 'accounts:memberships' %}">Need an account?</a>
    </div>
  </div>
  <a href="{% url 'authentication:password_reset' %}">
    <div class="cta">Forgot your password?</div>
  </a>
</div>
