{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} / Password Reset{% endblock title %}

{% block css %}
  <style>
    .form-row{
        text-align: center; }
    .form-validation button{
        margin: 35px 170px 0; }
  </style>
{% endblock css %}

{% block content %}
  <form class="form-validation" method="POST" action=".">
    {% csrf_token %}
    <div class="form-title-row">
      <h1>Reset Password</h1>
    </div>
    <div class="form-row {% if form.non_field_errors %}password-field{% endif %}">
      <label>
        <input type="password" name="password_new" placeholder="New password">
      </label>
      <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
      <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
      <span class="form-invalid-data-info"></span>
    </div>
    <div class="form-row {% if form.non_field_errors %}password-field{% endif %}">
      <label>
        <input type="password" name="password_new_confirm" placeholder="Confirm new password">
      </label>
      <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
      <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
      <span class="form-invalid-data-info"></span>
    </div>
    <div class="form-row">
      <button type="submit">Reset Password</button>
    </div>
  </form>
{% endblock content %}

{% block scripts %}
  <script>
      $(document).ready(function() {
          var errorField = $('.password-field');
          errorField.addClass('form-invalid-data');
          errorField.find('.form-invalid-data-info').text('{% for error in form.non_field_errors %}{{ error }}{% endfor %}');
      });
  </script>
{% endblock scripts %}
