{% extends 'base.html' %}
{% load staticfiles %}
{% load billing_extras %}

{% block title %} / {{ event.name }}{% endblock title %}

{% block content %}
  <section>
    <div class="row">
      <div class="col-md-8">
        <article class="blog-post">
          <div class="blog-post-body">
            <h2>{{ event.name }}</h2>
            <div class="post-meta">
              <span><i class="fa fa-clock-o"></i>{{ event.event_date }}</span>
            </div>
            <div class="blog-post-text">
              {{ event.description|safe|linebreaksbr }}
            </div>
          </div>
        </article>
      </div>

      <div class="col-md-4 sidebar-gutter">
        <div class="sidebar-widget">
          {% if member_attending %}
            <button class="attend-button attend-disabled" type="button">Registered</button>
          {% else %}
            <a href="{{ event.get_checkout_url }}">
              <button class="attend-button arrow" type="button">Register For Event</button>
            </a>
          {% endif %}
        </div>

        <div class="sidebar-widget">
          <h3 class="sidebar-title">Registration Fees</h3>
          <div class="widget-container">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-left">Price Description</th>
                  <th class="text-right">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Member Registration</td>
                  <td class="text-right">${{ event.member_fee|divide:"100" }}</td>
                </tr>
                <tr>
                  <td>Non-Member Registration</td>
                  <td class="text-right">${{ event.non_member_fee|divide:"100" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
