{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} / Events{% endblock title %}

{% block content %}
    <section>
        <div class="row">
            <div class="col-md-8">
                <article class="blog-post">
                    <div class="blog-post-image">
                        <a href="post.html"><img src="{% static 'img/750x500-3.jpg' %}" alt=""></a>
                    </div>
                    <div class="blog-post-body">
                        <h2><a href="#">Some Event Here</a></h2>
                        <div class="post-meta"><span>by <a href="#">John Doe</a></span>/<span><i class="fa fa-clock-o"></i>October 1, 2016</span></div>
                        <div class="blog-post-text">
                            <p>Lorem ipsum dolor sit amet, nostrum instructior at per, id mei omnis putent scribentur. Harum molestie reprehendunt sit eu. Scripta aperiri ex sea. Nam percipit ponderum voluptaria eu, discere eruditi eloquentiam his ad, has ex virtute reprimique. Id clita denique hendrerit vim, id viris tation facilisi his.</p>

                            <p>In mandamus conceptam expetendis vel, commune adipisci sadipscing eam no. Id eos posse efficiantur, an doming cetero sea. Pri et debet impedit. Cum et quaestio salutatus, nam paulo interesset no.”</p>

                            <h3>Sea dolore impedit eu, pro rationibus liberavisse no</h3>
                            <p>Maiorum antiopam eu cum, cum congue deserunt posidonium ex, in dicant partiendo cum. Eu eum cetero iriure. Dicam option fabulas in eos, per et wisi mollis copiosae. Has id elitr omittam explicari. Id legere conceptam eos, quo postea utamur ea. Ea voluptua forensibus pro, sea ea eius phaedrum, ne appareat tractatos mei. Quo diam rebum ludus no, detraxit democritum ne nam.</p>

                            <p>Vivendo tractatos sed id, an usu homero omittantur, id graece minimum vis. Ei eos quem velit. Cu pri ludus perpetua indoctum, mea dictas commune offendit ne. Legendos signiferumque eos in, meliore accumsan persecuti id est. Has eripuit civibus lobortis ne, duo in amet volumus platonem, ea virtute bonorum molestiae eam. Aliquando conclusionemque ad mei, no quod malis nobis pri.</p>
                        </div>
                    </div>
                </article>
            </div>
            
            <!-- sidebar -->
            {% include 'general/_sidebar.html' %}

        </div>
    </section>
{% endblock content %}
